*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# --- 1)      ---

*.apk
*.ap_
*.aab
*.aar

/build/
/captures/
/outputs/
/.cxx/
/.externalNativeBuild/

# --- 2) Gradle ---

/.gradle
/local.properties
gradle-app.setting
gradle.properties
gradlew
gradlew.bat

#    Gradle
**/build/
/gradle/
/out/
#  
.gradle/

# --- 3) Android Studio / IntelliJ IDEA ---

#     
.idea/
*.iml
*.ipr
*.iws
*.idea/misc.xml
*.idea/modules.xml
*.idea/workspace.xml
*.idea/modules/

*.name
*.swp
*~
*.swo
*.orig
*.bak
*.tmp

.DS_Store
Thumbs.db
/keystore.b64
