/build
# --- 1)      ---

*.apk
*.ap_
*.aab
*.aar

/build/
/captures/
/outputs/
/.cxx/
/.externalNativeBuild/

# --- 2) Gradle ---

/.gradle
/local.properties
gradle-app.setting
gradle.properties
gradlew
gradlew.bat

#    Gradle
**/build/
/gradle/
/out/
#  
.gradle/

# --- 3) Android Studio / IntelliJ IDEA ---

#     
.idea/
*.iml
*.ipr
*.iws
*.idea/misc.xml
*.idea/modules.xml
*.idea/workspace.xml
*.idea/modules/

#  ,  IDE
*.name
*.swp
*~
*.swo
*.orig
*.bak
*.tmp

# --- 4)    ---

.DS_Store
Thumbs.db
