<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Интернет -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Разрешение на отправку уведомлений (Android 13+) -->
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        android:required="false" />

    <!-- Разрешение на точные будильники (Android 12+) -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <queries>
        <!-- Разрешаем проверку любых приложений, которые обрабатывают geo:-ссылки -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_my_new_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31"
        android:networkSecurityConfig="@xml/network_security_config"
        android:enableOnBackInvokedCallback="true"
        android:localeConfig="@xml/locales_config">

        <activity
            android:name=".SettingsActivity"
            android:theme="@android:style/Theme.Material.NoActionBar"
            />

        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.Material.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".util.ReminderReceiver"
            android:exported="false" />

    </application>

</manifest>
